In [19]:
#Imports:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
#Code:
act = pd.read_csv('../data/act_2018_updated.csv')
sat = pd.read_csv('../data/sat_2018.csv')

In [21]:
def clean_participation(x):

    if isinstance(x, str):
        return(x.replace('%', '').replace(',', ''))
    return(x)

In [22]:

sat['Participation'] = sat['Participation'].apply(clean_participation).astype('float')

In [23]:
act.columns = act.columns.str.lower()
sat.columns = sat.columns.str.lower()

In [24]:
sat.rename(columns={
    'evidence-based reading and writing': 'sat_avg_evidence-based_reading_and_writing_in_2018'
}, inplace=True)

In [25]:
sat.rename(columns={
    'participation': 'percentage_of_sat_students_tested_in_2018'
}, inplace=True)

In [26]:
sat.rename(columns={
    'math': 'sat_avg_math_score_in_2018'
}, inplace=True)

In [27]:
sat.rename(columns={
    'total': 'total_avg_score_for_sat_in_2018'
}, inplace=True)

In [28]:
sat.head()

,state,percentage_of_sat_students_tested_in_2018,sat_avg_evidence-based_reading_and_writing_in_2018,sat_avg_math_score_in_2018,total_avg_score_for_sat_in_2018
0,Alabama,6.0,595,571,1166
1,Alaska,43.0,562,544,1106
2,Arizona,29.0,577,572,1149
3,Arkansas,5.0,592,576,1169
4,California,60.0,540,536,1076

In [29]:
act.rename(columns={
    'percentage of students tested': 'percentage_of_act_students_tested_in_2018',
    'average composite score': 'act_average_composite_score_in_2018',
    'average english score': 'act_average_english_score_in_2018',
    'average math score': 'act_average_math_score_in_2018',
    'average reading score': 'act_average_reading_score_in_2018',
    'average science score': 'act_average_science_score_in_2018'
}, inplace=True)

In [30]:
act_sat_merge = pd.merge(act, sat, how='left')
act_sat_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 11 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   state                                               51 non-null     object
 1   percentage_of_act_students_tested_in_2018           51 non-null     int64
 2   act_average_composite_score_in_2018                 51 non-null     float64
 3   act_average_english_score_in_2018                   51 non-null     float64
 4   act_average_math_score_in_2018                      51 non-null     float64
 5   act_average_reading_score_in_2018                   51 non-null     float64
 6   act_average_science_score_in_2018                   51 non-null     float64
 7   percentage_of_sat_students_tested_in_2018           51 non-null     float64
 8   sat_avg_evidence-based_reading_and_writing_in_2018  51 non-null     int64
 9   sat_avg_math_score_in_2018                          51 non-null     int64
 10  total_avg_score_for_sat_in_2018                     51 non-null     int64
dtypes: float64(6), int64(4), object(1)
memory usage: 4.8+ KB

In [31]:
act_sat_merge.to_csv('../data/combined_2018.csv', index=False)